* {
	box-sizing: border-box;
}

.container {
	display: flex;
	margin: auto;
	height: 182px;
	width: 560px;
	border: 1px solid #000000;
	justify-content: space-between;
}

.box {
	width: 100px;
	height: 170px;
	background-color: #f7f7f7;
	margin: 5px;
}

@media screen and (max-width: 220px) {
	.container {
		display: flex;
		margin: auto;
		height: 410px;
		width: 400px;
		border: 1px solid #000000;
		flex-wrap: wrap; 
	}
	
	.box {
		border: 1px solid #000000;
		width: 180px;
		height: 75px;
		margin: auto;
	}
	.mobile-bottom-box{
		width: 300px;
	}
	}

